a:hover{
  text-decoration: none;
}
a{
  text-decoration: none;
}
.logo_text {
        display: block;
        border-left: 1px solid transparent;
        padding-left: 0;
        text-align: center;
    }